<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Welcome to Author page</title>
</head>

<body>
    <div class="container">
        <div class="frame">

            <div class="main_frame">
    
                <div class="left-frame">
    
                    <div class="left1">
                        <div class="left1_pic">
                            <img src="images/Profile.svg" width="156px" height="142px" alt="profile photo">
                        </div>
                        <div class="left1_name">Marcos</div>
                        <div class="left1_prof">Heart</div>
                        <div class="left1_icons">
                            <a class="messengers" href="">
                                <img src="messenger_icon/Facebook.svg" alt="">
                            </a>
                            <a class="messengers" href="">
                                <img src="messenger_icon/Instagram.svg" alt="">
                            </a>
                            <a class="messengers" href="">
                                <img src="messenger_icon/Twitter.svg" alt="">
                            </a>
                            <a class="messengers" href="">
                                <img src="messenger_icon/Linkeding.svg" alt="">
                            </a>
                            <a class="messengers" href="">
                                <img src="messenger_icon/Youtube.svg" alt="">
                            </a>
                            <a class="messengers" href="">
                                <img style="margin-top: 8px;" src="messenger_icon/Dribbble.svg" alt="">
                            </a>
    
                        </div>
                    </div>
                    <div class="marginer"></div>
                    <div class="left2">
                        <div class="line">
                            <div class="age">Age</div>
                            <div class="ageValue">24</div>
                        </div>
                        <div class="line">
                            <div class="residence">Residence</div>
                            <div class="residendeVal">BD</div>
                        </div>
                        <div class="line">
                            <div class="freelance"> Freelance</div>
                            <div style="color: #7EB942;">Available</div>
    
                        </div>
                        <div class="line">
                            <div class="address">Address:</div>
                            <div>Dhaka,Bangladesh</div>
                        </div>
                    </div>
    
                    <div class="marginer"></div>
                    <div class="left3">
                        <p class="headings">Languages</p>
                        <div class="line3">
                            <p>Bangla</p>
                            <p>100%</p>
                        </div>

                        <div class="hundred">
                            <span class="hundredSpan"></span>
                        </div>

                        <div class="line3">
                            <p>English</p>
                            <p>80%</p>
                        </div>
                       
                        <div class="eighty">
                            <span class="eightySpan"></span>
                        </div>

                        <div class="line3">
                            <p>Spanish</p>
                            <p>60%</p>
                        </div>
                       
                        <div class="sixty">
                            <span class="sixtySpan"></span>
                        </div>

                    </div>
                    <div class="marginer"></div>
                    <div class="left4">
                        <p class="headings">Skills</p>
                        <div class="line3">
                            <p>Html</p>
                            <p>90%</p>
                        </div>
                        
                        <div class="ninety">
                            <span class="ninetySpan"></span>
                        </div>

                        <div class="line3">
                            <p>CSS</p>
                            <p>85%</p>
                        </div>
                       
                        <div class="eighty5">
                            <span class="eighty5Span"></span>
                        </div>

                        <div class="line3">
                            <p>JS</p>
                            <p>80%</p>
                        </div>
                       
                        <div class="eighty">
                            <span class="eightySpan"></span>
                        </div>

                        <div class="line3">
                            <p>PHP</p>
                            <p>75%</p>
                        </div>
                       
                        <div class="seventy">
                            <span class="seventySpan"></span>
                        </div>

                        <div class="line3">
                            <p>WordPress</p>
                            <p>85%</p>
                        </div>
                        
                        <div class="eighty5">
                            <span class="eighty5Span"></span>
                        </div>
                    </div>
                    
                    <div class="marginer"></div>
                    <div class="left5">
                        <p class="headings">Extra Skills</p>
    
                        <div class="flex1">
                            <img style="margin-bottom: 12px;" src="images/Icons.svg" alt="#">
                            <p class="extraSkills">Bootstrap, Materialize</p>
                        </div>
    
                        <div class="flex1">
                            <img style="margin-bottom: 12px;" src="images/Icons.svg" alt="#">
                            <p class="extraSkills">Styluss, SASS, Less</p>
                        </div>
                        <div class="flex1">
                            <img style="margin-bottom: 12px;" src="images/Icons.svg" alt="#">
                            <p class="extraSkills">Gulp, Webpack, Grunt</p>
                        </div>
                        <div class="flex1">
                            <img style="margin-bottom: 12px;" src="images/Icons.svg" alt="#">
                            <p class="extraSkills"> Git Knowledge</p>
                        </div>
    
                    </div>
                    <div class="marginer"></div>
                </div>
    
                <div class="midd-frame">
    
                    <div class="midd-heading">
                        <div>
                            
                            <img class="ellipse12" src="shapes/Ellipse 12 (Stroke).svg" alt="">
                            <img class = "ellipse13" src="shapes/Ellipse 13 (Stroke).png" alt="">
                            <img class = "ellipse15" src="shapes/Ellipse 15 (Stroke).svg" alt="">
                            <img class = "ellipse16" src="shapes/Ellipse 16 (Stroke).svg" alt="">
                            <img class = "polygon" src="shapes/Polygon 1 (Stroke).svg" alt="">
                            <img class = "rectangle51" src="shapes/Rectangle 51 (Stroke).svg" alt="">
                            <img class = "rectangle52" src="shapes/Rectangle 52 (Stroke).svg" alt="">
                        </div>



                        <div class="flex">
                            <div class="midd-head-left">
                                <h1 class="h1">Doctor neurologist in OHSU Hospital</h1>
                                <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat
                                    feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</p>
                                <button class="hireMe">Hire Me -></button>
                            </div>
                            <div class="yourImage">
                                <img src="images/YourImage.svg" alt="">
                            </div>
                        </div>
                    </div>
    
                    <div class="midd-footer">
    
                        <div class="headingFooter">
                            <h2>My Services</h2>
    
                            <h6 class="amet">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                                officia consequat duis enim velit mollit. lorem ipsum </h6>
                        </div>
                        <div class="footerLine">
                            <div class="serviceLine">
                                <img src="box_images/coding.svg" alt="">
                                <b>Web development</b>
                                <p class="definition">Blog, E-commerce</p>
                            </div>
                            <div class="serviceLine">
                                <img src="box_images/illustration.svg" alt="">
                                <b>UI/UX Design</b>
                                <p class="definition">Mobile App, Web Design</p>
                            </div>
                            <div class="serviceLine">
                                <img src="box_images/Microphone.svg" alt="">
                                <b>Sound Design</b>
                                <p class="definition">Voice Over, Beat Making</p>
                            </div>
                        </div>
                        <div class="footerLine">
                            <div class="serviceLine">
                                <img src="box_images/game-development.svg" alt="">
                                <b>Game Deign</b>
                                <p class="definition">Character Design, Props&Objects</p>
                            </div>
                            <div class="serviceLine">
                                <img src="box_images/Photographer.svg" alt="">
                                <b>Web development</b>
                                <p class="definition">Blog, E-commerce</p>
                            </div>
                            <div class="serviceLine">
    
                                <b>Advertising</b>
                                <p style="width: 233.9px;
                                height: 84.14px" class="definition">Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Vitae nulla diam in ac dictum a urna viverra morbi.</p>
                                <a style="color : orange" href="#">Order Now -></a>
    
                            </div>
                        </div>
    
                    </div>
    
                </div>
    
                <div class="right-frame">
                    <a href="#">
                        <img class="contrast" src="btn_icon/Contrast.svg" alt="">
                    </a>
                    <a href="#">
                        <img class="popUp" src="btn_icon/PopUp.svg" alt="">
                    </a>
                    <a href="#">
                        <img class="home" src="btn_icon/Home.svg" alt="">
                    </a>
                    <a href="#">
                        <img class="service" src="btn_icon/Service.svg" alt="">
                    </a>
                    <a href="#">
                        <img class="cv" src="btn_icon/Cv.svg" alt="">
                    </a>
                    <a href="#">
                        <img class="cv" src="btn_icon/Portfolio.svg" alt="">
                    </a>
                    <a href="#">
                        <img class="cv" src="btn_icon/Blog.svg" alt="">
                    </a>
    
                    <a href="">
                        <img class="cv" src="btn_icon/Contact.svg" alt="">
                    </a>
    
    
    
    
    
    
                </div>
    
            </div>
        </div>
    
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </div>
    
</body>

</html>