<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>REJA</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
</head>

<body style="background-color: #b8bbd1">
  <!-- SHU YERDAN YOZASIZ -->

  <div class="container">
    <h1 class="display-4 text-center py-1">Reja va Maqsadlar</h1>
    <div class="jumbotron">
      <form action="/create-item" method="post">
        <div class="input-group">
          <input type="text" class="form-control" name="newItem" placeholder="Yangi Xarid...">
          <div class="input-group-append">
            <button  style="border-radius: 10px; margin-left: 10px;" type="submit" class="btn btn-primary">Yangi Reja Qo'shish</button>
          </div>
        </div>
      </form>


    </div>

  </div>
</body>

</html>