body {
    background-color: #e5e5e5 !important;
    margin: 0;
}

h1 {
    position: relative;
    width: 461.54px;
    height: 105.72px;
    margin-top: 50px;
    margin-left: 84px;
}

b {
    margin-top: 20px;
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
}

.main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #e5e5e5 !important;
}

.main_frame .left-frame {
    position: relative;
    width: 305px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;

}

.left-frame .left1 {
    position: relative;
    width: 228px;
    height: 253px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    margin-left: 47px;

}

.left1 .left1_pic {
    position: relative;
    width: 156.16px;
    height: 135.05px;
    /* margin-bottom: 27px; */
}

.left1_name {

    position: relative;
    width: 64px;
    height: 20.85px;
    margin-bottom: 6.65px;
    margin-top: 10px;
    margin-left: 25px;

    /* H4 - 18px */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%;
    /* or 22px */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    /* Black */

    color: #2B2B2B;
}

.left1_prof {
    position: relative;
    width: 147.84px;
    height: 24.31px;
    margin-left: 40px;
    margin-bottom: 10px;
    /* Paragraph Progress - 15 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */

    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;

    /* Paragraph Font */

    color: #767676;

}

.left1_icons {
    position: relative;
    width: 228px;
    height: 22px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.messengers {
    margin-right: 10px;
}

.left-frame .marginer {
    width: 220px;
    height: 0px;
    margin-left: 40px;
    margin-top: 39px;
    margin-bottom: 39px;
    border: 1.5px solid #f0f0f6;
}

.left-frame .left2 {
    width: 221px;
    height: 126px;
    margin-left: 47px;

}

.line {
    position: relative;
    width: 220.13px;
    height: 24px;
    /* margin-left: 47px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.left2 .line .age {
    position: relative;
    width: 46.21px;
    height: 24px;
    margin-left: 10px;
    background: #FFB400;
    padding-left: 3px;
}

.left2 .line .residence {
    position: relative;
    width: 89px;
    height: 24px;
    margin-left: 10px;
    background: #FFB400;
    padding-left: 3px;
}

.left2 .line .freelance {
    position: relative;
    width: 85px;
    height: 24px;
    margin-left: 10px;
    background: #FFB400;
    padding-left: 3px;
}

.left2 .line .address {
    position: relative;
    width: 75px;
    height: 24px;
    margin-left: 10px;
    background: #FFB400;
    padding-left: 3px;
    margin-right: 5px;
}

.left-frame .left3 {
    width: 220px;
    height: 153px;
    margin-left: 47px;
}

.left3 .haedings {
    position: relative;
    width: 92.3px;
    height: 16.98px;
    margin-left: 10.44px;
    color: #2B2B2B;
}

.line3 {
    position: relative;
    width: 217.33px;
    height: 14.3px;
    margin-left: 10.32px;
    margin-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}






/* Percentages */

.sixty {
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    width: 221px;
    height: 5px;
    border-radius: 50px;
    padding-left: 1.5px;
}
.sixtySpan {
    display: block;
    width: 190px;
    height: 2px;
    background-color: #FFB400;
    border-radius: 50px;
    }
.seventy {
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    width: 221px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-left: 1.5px;
}
.seventySpan {
    display: block;
    width: 185px;
    height: 2px;
    background-color: #FFB400;
    border-radius: 50px;
    }
.eighty {
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    width: 221px;
    height: 5px;
    border-radius: 50px;
    margin-bottom: 10px; 
}
.eightySpan {
display: block;
width: 201px;
height: 2px;
background-color: #FFB400;
border-radius: 50px;
}
.eighty5 {
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    width: 221px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-left: 1.5px;
}
.eighty5Span {
    display: block;
    width: 207px;
    height: 2px;
    background-color: #FFB400;
    border-radius: 50px;
    }
.ninety {
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    width: 221px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding-left: 1.5px;
}
.ninetySpan {
    display: block;
    width: 209px;
    height: 2px;
    background-color: #FFB400;
    border-radius: 50px;
    }
.hundred {
    display: flex;
    align-items: center;
    border: 1px solid #FFB400;
    width: 221px;
    height: 5px;
    margin-bottom: 10px;
 border-radius: 50px;
 padding-left: 1.5px;
}
.hundredSpan {
    display: block;
    width: 217px;
    height: 2px;
    background-color: #FFB400;
    border-radius: 50px;
    }





.left-frame .left4 {
    width: 220px;
    height: 242px;
    margin-left: 47px;
}

.extraSkills {
    margin-left: 25px;
    color: #767676;
}

.main_frame .left-frame .left5 {
    width: 200px;
    height: 148px;
    margin-left: 30px;
    margin-bottom: 20px;
}


.main_frame .midd-frame {
    position: relative;
    top: -25px;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    background-color: #e5e5e5;
}
.polygon{
    position: absolute;
    right: 30px;
    top: 450px;
}
.ellipse12{
    position: absolute;
    top: 80px;
    left: 400px;
}
    

.ellipse13{
    position: absolute;
    bottom: 50px;
    left: 550px;
}
.ellipse15{
    position: absolute;
    top: 50px;
    left: 50px;
}
.ellipse16{
    position: relative;
    top: 450px;
    left: 200px;
  
}
.rectangle51{
    position: absolute;
   top: 50px;
   right: 50px;
}
.rectangle52{
    position: absolute;
    top: 380px;
    left: 400px;
    transform: matrix(0.9, 0.43, -0.45, 0.89, 0, 0);
}

.midd_footer {
    width: 970px;
    height: 651px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.midd-heading {
    position: relative;
    margin-bottom: 145px;
    background-color: #fff;
    background-image: url("shapes/hero.png");
}

.headingFooter {
    width: 428.18px;
    height: 62.84px;
    margin-top: 145 px;
    margin-bottom: 100px !important;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.definition {
    color: #767676;
    margin-top: 20px;
    height: 14.42px;
}

.lorem {
    position: relative;
    width: 394px;
    height: 48px;
    margin-left: 84px;
    margin-top: 33px;
    color: #aaaaaa;
}

.footerLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 30px;
}

.serviceLine {
    width: 310px;
    height: 226.88px;
    background: #fff;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.amet {
    position: relative;
    width: 428.18px;
    height: 62.84px;
    margin-top: 33px;
    color: #767676;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hireMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    margin-left: 50px !important;
    margin-top: 70px !important;
    width: 152.41px;
    height: 48px;
border: none;
    /* Yellow */

    background: #FFB400;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 56px;
    margin-top: 40px;
}

.yourImage {
    position: relative;
    width: 326.06px;
    height: 446.63px;
    margin-top: 16px;
    margin-right: 16px;
    background: url(YourImage.png);
}

.main_frame .right-frame {
    position: relative;
    width: 108px;
    height: 1315px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contrast {
    position: relative;
    width: 30px;
    height: 30px;
    margin-top: 50px;

}

.popUp {
    position: relative;
    width: 65px;
    height: 40px;
    margin-top: 292px;
}

.home {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.service {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 80px;
}

.cv {
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 43px;
}
.flex1{
    display: flex;
    align-items: center;
    flex-direction: row;
}